.content5{
    width: 100%;
    height: auto;
    background-color: #F7CDD0;
	  margin-top: 80px;
    padding-top: 25px;
}
.slideshow-container {
    position: relative;
    background: #F2F2F2;
  }
  .mySlides {
    display: none;
    padding: 60px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -45px;
    padding: 16px;
    color: #3C5D75;
    font-weight: bold;
    font-size: 34px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #F7CDD0;
    color: white;
  }
  
  /* Add an italic font style to all quotes */
  q {
    font-style: italic;
    font-family: Verdana;
    color: #3C5D75;
    font-size: 1.5vw;
    }
  
  /* Add a blue color to the author */
.author {
    color: #3C5D75;
    font-family: Verdana;
    color: #3C5D75;
    margin-top: 8px;
    font-size: 1.6vw;
}
.BlogContent{
    width: 100%;
    height: auto;
    background-image: url(images/Picture1.6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0.2px;
}
#img7{
  width: 95%;
  height: 260px;
  margin-left:30px;
  margin-top: -200px;
  position: relative;
}
#blogHeadText{
  font-family: Verdana;
  font-size: 2.5vw;
  color: #3C5D75;
  margin: 20px;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
}
#flContainer4{
	display: flex;
	justify-content: center;
	margin-left: 100px;
  padding-bottom: 100px;
	padding-top: 10px;
}
#box2_1{
	width: 26vw;
	height: auto;
	background-color: #F2F2F2;
	border: .5px solid #3C5D75;
	border-radius: 8px;
	margin-right: 50px;
	box-shadow: 2px 2px 4px #888888;
}
#box2_2{
	width: 26vw;
	height: auto;
	background-color: #F2F2F2;
	border: .5px solid #3C5D75;
	border-radius: 8px;
	margin-right: 50px;
	box-shadow: 2px 2px 4px #888888;
}
#box2_3{
	width: 26vw;
	height: auto;
	background-color: #F2F2F2;
	border: .5px solid #3C5D75;
	border-radius: 8px;
	margin-right: 50px;
	box-shadow: 2px 2px 4px #888888;
}
#my-storyPic{
	width: 20vw;
	height: auto;
	margin: 20px 0px 20px 40px;
	max-width: 100%;
}
#chatgptPic{
  width: 23vw;
	height: auto;
	margin: 20px 0px 20px 20px;
	max-width: 100%; 
}
#DNAPic{
  width: 23vw;
	height: auto;
	margin: 20px 0px 20px 20px;
	max-width: 100%;
}
#dscrpt1{
	width: 25.9vw;
	height: 25vh;
	background-color: #FFFFFF;
	border-radius: 8px;
	font-family: Verdana;
	font-size: 1.2vw;
	text-align: center;
	padding-top: 10px;
}
#but2{
	font-size: 1.2vw;
	font-family: Verdana;
	color: #FFFFFF;
	padding: 10px 20px 10px 20px;
	width: 60px;
  max-width: 100%;
	background-color: #3C5D75;
	border: 1px solid #3C5D75;
	border-radius: 6px;
	margin-left: 15px;
	cursor: pointer;
	text-decoration: none;
}