.content4{
    width: 100%;
    height: 250px;
    background-color: #F7CDD0;
    background-image: url(images/Picture1.5.png);
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: center;
    margin: 0.2px;
	margin-top: 80px;
}
.linetop{
	width: 100%;
	margin-top: 20px;
	height: 10px;
	background-color: #FFFFFF;
}
.PortfolioContent{
    width: 100%;
    height:auto;
	background-image: url(images/Picture1.6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0.2px;
}
.headText1{ 
	text-align: center;
	font-family: Verdana;
}
#pHtextA{
	font-size: 2.4vw;
	color: #FFFFFF;
	padding-top: 40px;
	margin-bottom: 0px;
}
#pHtextB{
	font-size: 3vw;
	color: #3C5D75;
	font-weight: bold;
	text-decoration: underline;
	margin-top: 5px;
	margin-bottom: 0;
}
#pHtextC{
	font-size: 1.6vw;
	color: #FFFFFF;
	margin-top: 10px;
}
#flContainer2{
	display: flex;
	justify-content: center;
	margin-left: 100px;
    margin-bottom: 50px;
	padding-top: 80px;
}
#box1_1{
	width: 28vw;
	height: auto;
	background-color: #F2F2F2;
	border: .5px solid #3C5D75;
	border-radius: 8px;
	margin-right: 100px;
	box-shadow: 2px 2px 4px #888888;
}
#box2_2{
	width: 28vw;
	height: auto;
	background-color: #F2F2F2;
	border: .5px solid #3C5D75;
	border-radius: 8px;
	margin-right: 100px;
	box-shadow: 2px 2px 4px #888888;
}
#calc{
	width: 15vw;
	height: auto;
	margin: 20px 0px 20px 85px;
	max-width: 100%;
}
#dscrpt1{
	width: 27.9vw;
	height: 25vh;
	background-color: #FFFFFF;
	border-radius: 8px;
	font-family: Verdana;
	font-size: 1.2vw;
	text-align: center;
	padding-top: 10px;
}
#but2{
	font-size: 1.2vw;
	font-family: Verdana;
	color: #FFFFFF;
	padding: 10px 20px 10px 20px;
	width: 60px;
    max-width: 100%;
	background-color: #3C5D75;
	border: 1px solid #3C5D75;
	border-radius: 6px;
	margin-left: 15px;
	cursor: pointer;
	text-decoration: none;
}
#invent{
	width: 26.5vw;
	height: auto;
	margin: 20px 0px 20px 10px;
	max-width: 100%;
}
#flContainer3{
	display: flex;
	justify-content: center;
	margin-left: 100px;
    margin-bottom: 50px;
	padding-top: 30px;
}
#box1_3{
	width: 28vw;
	height: auto;
	background-color: #F2F2F2;
	border: .5px solid #3C5D75;
	border-radius: 8px;
	margin-right: 100px;
	box-shadow: 2px 2px 4px #888888;
}
#box2_4{
	width: 28vw;
	height: auto;
	background-color: #F2F2F2;
	border: .5px solid #3C5D75;
	border-radius: 8px;
	margin-right: 100px;
	box-shadow: 2px 2px 4px #888888;
}
#web1{
	width: 25vw;
	height: auto;
	margin: 40px 0px 43px 20px;
	max-width: 100%;
}
#weApp{
	width: 10vw;
	height: auto;
	margin: 20px 0px 20px 118px;
	max-width: 100%;
}
/*For pop up*/
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
  }
  .overlay:target {
	visibility: visible;
	opacity: 1;
  }
  
  .popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 50%;
	height: 80%;
	position: relative;
	transition: all 5s ease-in-out;
	margin-top: 60px;
  } 
  .popup p{
	color: #3C5D75;
	font-size: 1.8vw;
	font-family: Verdana;
  }
  .popup {
	text-align: center;
	line-height: 1.5;
  }
  .popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #3C5D75;
  }
  .popup .close:hover {
	color: #F7CDD0;
  }
  .popup .content {
	max-height: 150%;
	overflow: auto;
  }
  #vid1{
	width: 22vw;
	max-width: 100%;
	height: auto;
  }
  #vid2{
	width: 36vw;
	max-width: 100%;
	height: auto;
  }
  #vid3{
	margin-top: 20px;
	width: 50vw;
	max-width: 100%;
	height: auto;
  }