.topbanner{
    width: 100%;
    height: 200px;
    background-color: #F7CDD0;
    padding-top: 25px;
    background-image: url(images/Picture1.5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0.2px;
}
.botbanner{
    width: 100%;
    height: 415px;
    background-color: #3C5D75;
}
#content6{
    width: 70%;
    height: 480px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -550px;
}
#exit{
    font-family: Verdana;
    font-size: 2.6vw;
    color: #3C5D75;
    float: right;
    margin-right: 20px;
}
#left_sidesection{
    float: left;
}
#right_sidesection{
    float: right;
}
.text2 {
    padding: 40px;
}
#get_in{
    font-family: Verdana;
    font-size: 1.8vw;
    color: #3C5D75;
    font-weight: bold;
} 
#despt_Get{
    font-family: Verdana;
    font-size: 1vw;
    color: #3C5D75;
}
#icon2{
    width: 4vw;
	height: auto;
    margin-right: 20px;
}
.details{
    padding: 0px 40px 40px 40px; 
    font-family: Verdana;
    font-size: 1.2vw;
    color: #3C5D75;
}
#contact_me{
    font-family: Verdana;
    font-size: 1.8vw;
    color: #3C5D75;
    font-weight: bold;
    padding-top: 40px;
}
.input-box{

}
#boxForm{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin: 5px;
    border: none;
    font-size: 1.2vw;
    color: #3C5D75;
    font-family: Verdana;
    padding-left: 20px;
    background-color: #F2F2F2;
    transition: 0.5s;
}
#message{
    border-radius: 20px;
    border: none;
    background-color: #F2F2F2;
    font-size: 1.2vw;
    color: #3C5D75;
    font-family: Verdana;
    padding: 20px 0px 0px 20px;   
    margin: 5px;
}
#sendBut{
    width: 80px;
    height: 40px;
    padding: 5px;
    font-family: Verdana;
    font-size: 1.2vw;
    background-color: #3C5D75;
    color: #FFFFFF;
    border-radius: 20px;
    border: none;
    margin: 5px;
}
